GITHUB_APP_ID=
GITHUB_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\n...\n-----END RSA PRIVATE KEY-----"
GITHUB_WEBHOOK_SECRET=
GITHUB_ORG=blinklabs-io
GITHUB_CENTRAL_REPO=actions
GITHUB_CENTRAL_REF=main
APP_PORT=3000
DRY_RUN=false